@model IEnumerable<MyTradePrototype.Models.Trade>

@{
    ViewData["Title"] = "Trade List";
}

<h2>Trade List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Trade Ekle</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Buyer</th>
            <th>Seller</th>
            <th>Trade Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trade in Model)
        {
            <tr style="cursor:pointer;" onclick="location.href='@Url.Action("Details", "Trade", new { id = trade.Id })'">
                <td>@trade.Id</td>
                <td>@trade.ProductName</td>
                <td>@trade.Quantity</td>
                <td>@trade.Price</td>
                <td>@trade.Buyer</td>
                <td>@trade.Seller</td>
                <td>@trade.TradeDate.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
